<!DOCTYPE html>
<html>
    <head>
        <title> Mostrare</title>
        <link rel="stylesheet" href="css/style.css">
        <meta charset="utf-8">
    </head>
    <body>
        <nav>
            <img src="img/logo.png">
            <h7>A brillaint photography portfolio</h7>
            <menu>
                <ul>
                    <li >ALL PROJECTS</li>
                    <li>FASHION</li>
                    <li>PORTRAITS</li>
                    <li>EDITORIAL</li>
                    <li class="emptyListElement"></li>
                    <li class="colorListElement">ABOUT ME</li>
                    <li>CONTACT</li>
                    <li class="emptyListElement"></li>
                    <li>MY JOURNAL</li>
                </ul>
            </menu>
        </nav>
        <main>
            sadsa
        </main>
    </body>
</html>